@model OnlineVideoRentalStore.Models.ViewModels.CreateMovieVM

@{
    ViewData["Title"] = "DeleteMovie";
}
<h4>Are you shore you want to delete movie <b>@Model.Title?</b></h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DeleteMovie">
           
            <div class="form-group">
                <input type="submit" value="Delete"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



